In [4]:
num = int(input("정수 입력 : "))

정수 입력 : 3

In [6]:
if num > 0:
    print("양수")
    if num % 2 == 0:
        print("짝수")
    else:
        print("홀수")
else:
    print("음수 or 0")

양수
홀수

In [7]:
not True and False or not False

# not and or 순서

True

In [8]:
10 < 20 or 30 < 20 and 40 < 50

True

In [1]:
a = 10

In [2]:
a is b

NameError: name 'b' is not defined

In [3]:
id(a)

4341687800

In [4]:
id(b)

NameError: name 'b' is not defined

In [6]:
def ssum(a, b):
    return a + b

ssum(20,30)

50

In [20]:
def safe_sum(a, b):
    if type(a) != type(b):
        print("not")
        return
    else:
        return a + b

safe_sum(20, 2.22)

not

In [25]:
#전역변수(global) 매개변수(local)

x = 10 
def func():
    x = 5 
    print("local : ", x)
func()
print("global : ", x)

local :  5
global :  10

In [31]:
a =   "   Hello, 홍길동!     "  
print(a)

   Hello, 홍길동!

In [36]:
a = a.strip()
print(a)

Hello, 홍길동!

In [37]:
a.replace("홍길동", "둘리")

'Hello, 둘리!'

In [38]:
a.find("둘")

-1

In [39]:
b = "red:green:blue"

b = b.split(":")
b = ",".join(b)


print(b)

red,green,blue

In [40]:
for i in range(5):
    print(i)

0
1
2
3
4

In [5]:
i = 0
y = 0

        while(0, 9):
            for i in range(10):
                i % 2 == 0
                print(i)

In [56]:
for i in range(1,10):
    print(i)

1
2
3
4
5
6
7
8
9

In [77]:
for i in range(-10, 11):
    if i % 5 == 0:
        print(i)

-10
-5
0
5
10

In [87]:
for i in range(0, 101):
    if i % 3 == 0:
        
        print(i)

0
3
6
9
12
15
18
21
24
27
30
33
36
39
42
45
48
51
54
57
60
63
66
69
72
75
78
81
84
87
90
93
96
99

In [101]:
x = 0
z = 0
for z in range(1, 101):
    if z % 3 == 0:
        z = "짝"
    print(z)

1
2
짝
4
5
짝
7
8
짝
10
11
짝
13
14
짝
16
17
짝
19
20
짝
22
23
짝
25
26
짝
28
29
짝
31
32
짝
34
35
짝
37
38
짝
40
41
짝
43
44
짝
46
47
짝
49
50
짝
52
53
짝
55
56
짝
58
59
짝
61
62
짝
64
65
짝
67
68
짝
70
71
짝
73
74
짝
76
77
짝
79
80
짝
82
83
짝
85
86
짝
88
89
짝
91
92
짝
94
95
짝
97
98
짝
100

In [ ]:
cc = [3,4,1,5,2]