In [3]:
word = ['apple', 'banana', 'orange', 'water', 'kiwi']
[w for w in word if len (w) >= 5]

['apple', 'banana', 'orange', 'water']

In [4]:
matrix = [[1,2,3], [2,2,2], [3,3,3]]
flattened = [ele for e in matrix for ele in e]
flattened

[1, 2, 3, 2, 2, 2, 3, 3, 3]

In [12]:
a = [2,3,4]
b = [1,2,3,4,5,6,7,8,9]
[x * y for x in a for y in b]

[2,
 4,
 6,
 8,
 10,
 12,
 14,
 16,
 18,
 3,
 6,
 9,
 12,
 15,
 18,
 21,
 24,
 27,
 4,
 8,
 12,
 16,
 20,
 24,
 28,
 32,
 36]

In [13]:
def square(x):
    return x * x

nums = [1,2,3,4,5]
lst = [square(x) for x in nums]
lst

[1, 4, 9, 16, 25]

In [17]:
num = [1, 2, 3, 4, 5, 6, 7, 8, 9]
for i in num:
    if num % 2 == 1:
        new_list.append(i)
        print("odd")
    else:
        new_list.append(i)
        print("even")

TypeError: unsupported operand type(s) for %: 'list' and 'int'

In [18]:
a = [1,2,3]
b = [4,5,6]
zip_lst = [x * y for x, y in zip(a,b)]
zip_lst

[4, 10, 18]

In [20]:
lst = list(zip(a, b))
lst

[(1, 4), (2, 5), (3, 6)]

In [28]:
a = [1,2,3]
b = a
b.append(4)
print(a[-1]) # 얕은 복사
print(a,b)

4
[1, 2, 3, 4] [1, 2, 3, 4]