In [1]:
class Car:
    pass #비어있는 상태를 말하는 클래스

bus = Car()

In [3]:
class Car:
    carid = 1000 #클래스 변수 == 공유변수?
bus = Car()
texi = Car()

print(bus.carid)
print(texi.carid)


#객체생성과 상관없이 만들어진다.

1000
1000

In [6]:
class Car:
    #클래스명, 객체명
    carid = 1000 #클래스 변수 == 공유변수?
    def __init__(self): #생성자
        self.a = 10 #인스턴스 변수
print(Car.carid) 

bus = Car() #Car라는 클래스에 의해서 만들어진 인스턴스 bus
print(bus.a)

# texi = Car() 

# print(bus.carid)
# print(texi.carid)


#객체생성과 상관없이 만들어진다.

1000
10

In [14]:
class Car:
    #클래스명, 객체명
    carid = 1000 #클래스 변수 == 공유변수?
    def __init__(self): #생성자
        self.wheel = 50 #인스턴스 변수
        Car.carid +=1 #버스 가 증가 , 택시 가 증가
print(Car.carid) 

bus = Car() #Car라는 클래스에 의해서 만들어진 인스턴스 bus
bus.wheel = 100 #인스턴스간에 독립적인 변수

print(bus.wheel)
print(Car.carid)

texi = Car() 
print(texi.wheel)
print(Car.carid)


#객체생성과 상관없이 만들어진다.

1000
100
1001
50
1002

In [15]:
class Car:

    def __init__(self, wheel, power): #생성자, Car에 속한 맴버 메소드 self = bus 
        self.wheel = wheel #인스턴스 변수
        self.power = power
       
bus = Car(100, 500) #bus를 만들 때 옵션
print(bus.wheel)
print(bus.power)

100
500

In [19]:
class Car:

    def __init__(self, wheel = 50, power = 200): #생성자, Car에 속한 맴버 메소드 self = bus 
        self.wheel = wheel #인스턴스 변수
        self.power = power
        
    def display(self):
        print("info 휠 : {}, 마력 : {}".format(self.wheel, self.power))
       
bus = Car(100, 500) #bus를 만들 때 옵션

bus.display()
chev = Car()
chev.display()

info 휠 : 100, 마력 : 500
info 휠 : 50, 마력 : 200

In [30]:
class Car:
    carid = 1000
    def __init__(self, wheel = 50, power = 200): #생성자, Car에 속한 맴버 메소드 self = bus 
        self.wheel = wheel #인스턴스 변수
        self.power = power
        Car.carid += 1
        
    def display(self):
        print("info 휠 : {}, 마력 : {}".format(self.wheel, self.power))

    @classmethod #클래스메소드
    def check_carid_count(cls):
        print("차량이 {}대 생산됨".format(cls.carid))
        
    @staticmethod #정적메소드 클래스메소드보다 더 객체와 무관
    def explain(): #자동차 설명서
        print("사용법")
bus = Car(100, 500) #bus를 만들 때 옵션
bus.display()

chev = Car()
chev.display()
Car.check_carid_count()

Car.explain()

info 휠 : 100, 마력 : 500
info 휠 : 50, 마력 : 200
차량이 1002대 생산됨
사용법

In [1]:
class Car:
    carid = 1000
    def __init__(self, wheel = 50, power = 200): #생성자, Car에 속한 맴버 메소드 self = bus 
        self.wheel = wheel #인스턴스 변수
        self.power = power
        self.__engine = 300 #__private변수 (비공개)
        Car.carid += 1
        
        
    def setEngine(self, engine): #setter
        self.__engine = engine
    def getEngine(self): #getter
        # print(self.__engine)
        return self.__engine
        
        
        
    def display(self):
        print("info 휠 : {}, 마력 : {}".format(self.wheel, self.power))

    @classmethod #클래스메소드
    def check_carid_count(cls):
        print("차량이 {}대 생산됨".format(cls.carid))
        
    @staticmethod #정적메소드 클래스메소드보다 더 객체와 무관
    def explain(): #자동차 설명서
        print("사용법")
bus = Car(100, 500) #bus를 만들 때 옵션
bus.setEngine(200)
print(bus.getEngine())
# print(bus.__engine)
# bus.engine = 200

200

In [2]:
lst = []
for i in range(3):
    lst.append(Car())
    
print(lst)

[<__main__.Car object at 0x104500790>, <__main__.Car object at 0x1040a2450>, <__main__.Car object at 0x1045277d0>]

In [3]:
for i in lst:
    print(i.getEngine())

300
300
300

In [5]:
for i in lst:
    i.display()

info 휠 : 50, 마력 : 200
info 휠 : 50, 마력 : 200
info 휠 : 50, 마력 : 200

In [8]:
class Person:
    def greeting(self):
        print("안녕하세요")

class Person_list:
    def __init__(self):
        self.p_lst = []
    def append_lst(self, person):
        self.p_lst.append(person)
        

peoples = Person_list()#컨테이너 클래스

for ele in range(4):
    peoples.append_lst(Person())

for ele in peoples.p_lst:
    print(ele.greeting())

안녕하세요
None
안녕하세요
None
안녕하세요
None
안녕하세요
None

In [17]:
class Person:
    def __init__(self):
        self.name = '홍길동'
        self.age = 22 
    def display(self):
        print(self.name, ' : ',self.age)
    def say(self):
        print('에휴')
    

class Korean(Person): #Person상속받는다.
    def __init__(self):
        super().__init__() #부모의 생성자 호출
        self.lang = '한국어'
        
    def say(self): #부모의 기능을 무시하고 자식의 기능으로 활성화
        super().say() #부모의 say()를 호출할때 
        print("안녕") #메소드 오버라이팅
        
k1 = Korean()
k1.say() #자신이 가진 메소드

print(k1.name) #상속된 멤버
print(k1.age) #상속된 멤버변수
k1.display()

에휴
안녕
홍길동
22
홍길동  :  22

In [9]:
class Person:
    def __init__(self, name, age):
        self.name = name
        self.age = age 
    def display(self):
        print(self.name, ' : ',self.age)
    def say(self):
        print('에휴')
    

class Korean(Person): #Person상속받는다.
    def __init__(self, name, age, lang):
        super().__init__(name, age) #부모의 생성자 호출
        self.lang = lang
        
    def say(self): #부모의 기능을 무시하고 자식의 기능으로 활성화
        super().say() #부모의 say()를 호출할때 
        print("안녕") #메소드 오버라이팅
        
    def display(self):
        print(self.name, ' : ',self.age,' : ',self.lang)

class American(Person): #Person상속받는다.
    def __init__(self, name, age, lang):
        super().__init__(name, age) #부모의 생성자 호출
        self.lang = lang
        
    def say(self): #부모의 기능을 무시하고 자식의 기능으로 활성화
        print("Hello") #메소드 오버라이팅
        super.say()
        
    def display(self):
        print(self.name, ' : ',self.age,' : ',self.lang)

        

k1 = Korean('홍길동', 26, '중국어') #생성자를 수정해보기 > display()
a1 = American('Ru', 19, 'spanish')

k1.display()

a1.display()

홍길동  :  26  :  중국어
Ru  :  19  :  spanish

In [10]:
lst = []
lst.append(k1)
lst.append(a1)

for ele in lst:
    ele.display()

홍길동  :  26  :  중국어
Ru  :  19  :  spanish

In [8]:
class Person:
    def __init__(self, name, eyes, height, weight):
        self.name = name
        self.eyes = eyes
        self.height = height
        self.weight = weight
        
a = Person("alice", 5, 6, 7)
b = Person("blice", 1, 2, 3)
c = Person("clice", 8, 9, 10)
d = Person("dlice", 11, 12, 13)
e = Person("elice", 14, 15, 16)

lst = [a, b, c, d, e] #객체 리스트

def sort_by(prs):
    return prs.name

sort_list = sorted(lst, key = sort_by, reverse = True) #sort_by = lambda x : x

for ps in sort_list:
    print(f"이름:{ps.name}, 시력 : {ps.eyes},몸무게 : {ps. weight}")

이름:elice, 시력 : 14,몸무게 : 16
이름:dlice, 시력 : 11,몸무게 : 13
이름:clice, 시력 : 8,몸무게 : 10
이름:blice, 시력 : 1,몸무게 : 3
이름:alice, 시력 : 5,몸무게 : 7

In [10]:
class AAA:
    def __call__(self, *args, **kwargs):
        print("AAA 객체 입니다.")
ob = AAA()
ob()

AAA 객체 입니다.

In [11]:
class AAA:
    def __str__(self, *args, **kwargs):
        return "AAA"
ob = AAA()

print(ob)

AAA

In [12]:
class AAA:
    def __repr__(self, *args, **kwargs):
        return "AAA"
ob = AAA()

print(ob)

AAA

In [14]:
class AAA:
    def __str__(self, *args, **kwargs):
        return "AAA"

    def __repr__(self, *args, **kwargs):
        return "Abb"
ob = AAA()

print(ob)

AAA

In [21]:
from abc import *

class Car(metaclass=ABCMeta):
    @abstractmethod #추상클래스 오로지 상속용으로만 사용된다.
    def bonnet(self):
        pass
    
class Sportcar(Car):
    def bonnet(self):
        print("500도")
        
s1 = Sportcar()
s1.bonnet()

500도

In [2]:
%pwd

'/Users/ruben/Documents/workspace/JupyterNotebook'

In [1]:
ls /Users/ruben/Documents/workspace/JupyterNotebook/1.병원정보서비스.xlsx

/Users/ruben/Documents/workspace/JupyterNotebook/1.병원정보서비스.xlsx

In [2]:
cd /Users/ruben/Documents/문서 - HYUNKI’s Laptop/workspace/JupyterNotebook/1.병원정보서비스.xlsx

[Errno 2] No such file or directory: '/Users/ruben/Documents/문서 - HYUNKI’s Laptop/workspace/JupyterNotebook/1.병원정보서비스.xlsx'
/Users/ruben/Documents/workspace/JupyterNotebook

In [3]:
import pandas as pd 
df = pd.read_excel('1.병원정보서비스.xlsx')

In [4]:
import csv
df.to_csv('2.병원정보서비스.csv')

In [5]:
df2 = pd.read_csv('2.병원정보서비스.csv')
df2.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 77001 entries, 0 to 77000
Data columns (total 31 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   Unnamed: 0  77001 non-null  int64
 1   암호화요양기호     77001 non-null  object
 2   요양기관명       77001 non-null  object
 3   종별코드        77001 non-null  int64
 4   종별코드명       77001 non-null  object
 5   시도코드        77001 non-null  int64
 6   시도코드명       77001 non-null  object
 7   시군구코드       77001 non-null  int64
 8   시군구코드명      77001 non-null  object
 9   읍면동         25513 non-null  object
 10  우편번호        77001 non-null  int64
 11  주소          77001 non-null  object
 12  전화번호        76597 non-null  object
 13  병원홈페이지      0 non-null      float64
 14  개설일자        76986 non-null  float64
 15  총의사수        77001 non-null  int64
 16  의과일반의 인원수   77001 non-null  int64
 17  의과인턴 인원수    77001 non-null  int64
 18  의과레지던트 인원수  77001 non-null  int64
 19  의과전문의 인원수   77001 non-null  int64
 20  치과일반의 인원수   77001 non-null  int64
 21  치과인턴 인원수    77001 non-null  int64
 22  치과레지던트 인원수  77001 non-null  int64
 23  치과전문의 인원수   77001 non-null  int64
 24  한방일반의 인원수   77001 non-null  int64
 25  한방인턴 인원수    77001 non-null  int64
 26  한방레지던트 인원수  77001 non-null  int64
 27  한방전문의 인원수   77001 non-null  int64
 28  조산사 인원수     77001 non-null  int64
 29  좌표(X)       76484 non-null  float64
 30  좌표(Y)       76484 non-null  float64
dtypes: float64(4), int64(19), object(8)
memory usage: 18.2+ MB

In [7]:
df.info()
df.head(2)

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 77001 entries, 0 to 77000
Data columns (total 30 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   암호화요양기호     77001 non-null  object
 1   요양기관명       77001 non-null  object
 2   종별코드        77001 non-null  int64
 3   종별코드명       77001 non-null  object
 4   시도코드        77001 non-null  int64
 5   시도코드명       77001 non-null  object
 6   시군구코드       77001 non-null  int64
 7   시군구코드명      77001 non-null  object
 8   읍면동         25513 non-null  object
 9   우편번호        77001 non-null  int64
 10  주소          77001 non-null  object
 11  전화번호        76597 non-null  object
 12  병원홈페이지      0 non-null      float64
 13  개설일자        76986 non-null  float64
 14  총의사수        77001 non-null  int64
 15  의과일반의 인원수   77001 non-null  int64
 16  의과인턴 인원수    77001 non-null  int64
 17  의과레지던트 인원수  77001 non-null  int64
 18  의과전문의 인원수   77001 non-null  int64
 19  치과일반의 인원수   77001 non-null  int64
 20  치과인턴 인원수    77001 non-null  int64
 21  치과레지던트 인원수  77001 non-null  int64
 22  치과전문의 인원수   77001 non-null  int64
 23  한방일반의 인원수   77001 non-null  int64
 24  한방인턴 인원수    77001 non-null  int64
 25  한방레지던트 인원수  77001 non-null  int64
 26  한방전문의 인원수   77001 non-null  int64
 27  조산사 인원수     77001 non-null  int64
 28  좌표(X)       76484 non-null  float64
 29  좌표(Y)       76484 non-null  float64
dtypes: float64(4), int64(18), object(8)
memory usage: 17.6+ MB

,암호화요양기호,요양기관명,종별코드,종별코드명,시도코드,시도코드명,시군구코드,시군구코드명,읍면동,우편번호,...,치과인턴 인원수,치과레지던트 인원수,치과전문의 인원수,한방일반의 인원수,한방인턴 인원수,한방레지던트 인원수,한방전문의 인원수,조산사 인원수,좌표(X),좌표(Y)
0,JDQ4MTYyMiM1MSMkMSMkMCMkODkkMzgxMzUxIzExIyQxIy...,가톨릭대학교인천성모병원,1,상급종합,220000,인천,220003,인천부평구,부평동,21431,...,0,0,2,0,0,0,0,0,126.724899,37.484831
1,JDQ4MTYyMiM1MSMkMSMkNCMkODkkMzgxMzUxIzExIyQxIy...,강릉아산병원,1,상급종합,320000,강원,320100,강릉시,NaN,25440,...,0,0,2,0,0,0,0,0,128.857841,37.818433