클라이언트 > 요청(request : url ) > 경로(DNS) > 서버

dns : www.naver.com 123.456.66.77

서버 > db >  결과 > response(json, html, css, javascript) > 클라이언트 (어떤방식으로 보내줬지?)

In [ ]:
1. 동적인페이지(url 변경 안됨)
2. 정적인페이지(url 변경,(url변경안되면서 화면이 깜빡))
requests방법 처리 가능

3. 2가지 방버으로 안된 페이지에서는 selenium(개발자동화를 목적으로 만들어진 도구)

4.방법
 - 싸이트 검색
 - 크롤링 허락문서 (robots.txt)
   - 개인허락, 기업허락
 - 싸이트의 결과 보고 어떤 방식의  response를 우리에게주는지 확인
 - 접근방식 결정
 - 속이고 매우다양한 방식으로 속이고 들어간다.

In [1]:
url = "https://m.stock.naver.com/api/index/KOSPI/basic"

In [2]:
!pip install requests

Requirement already satisfied: requests in c:\users\user\anaconda3\lib\site-packages (2.31.0)
Requirement already satisfied: charset-normalizer<4,>=2 in c:\users\user\anaconda3\lib\site-packages (from requests) (2.0.4)
Requirement already satisfied: idna<4,>=2.5 in c:\users\user\anaconda3\lib\site-packages (from requests) (3.4)
Requirement already satisfied: urllib3<3,>=1.21.1 in c:\users\user\anaconda3\lib\site-packages (from requests) (1.26.16)
Requirement already satisfied: certifi>=2017.4.17 in c:\users\user\anaconda3\lib\site-packages (from requests) (2023.7.22)

In [2]:
import requests
url ="https://m.stock.naver.com/api/index/KOSPI/price?pageSize=10&page=1"
res = requests.get(url)
res
#수집하고싶은 싸이트 > F12 (개발자도구)

In [12]:
res.content #바이너리 동영상, 사진
res.text #텍스트로

'[{"localTradedAt":"2024-01-09","closePrice":"2,561.24","compareToPreviousClosePrice":"-6.58","compareToPreviousPrice":{"code":"5","text":"하락","name":"FALLING"},"fluctuationsRatio":"-0.26","openPrice":"2,598.31","highPrice":"2,599.37","lowPrice":"2,556.00"},{"localTradedAt":"2024-01-08","closePrice":"2,567.82","compareToPreviousClosePrice":"-10.26","compareToPreviousPrice":{"code":"5","text":"하락","name":"FALLING"},"fluctuationsRatio":"-0.40","openPrice":"2,584.23","highPrice":"2,591.68","lowPrice":"2,566.34"},{"localTradedAt":"2024-01-05","closePrice":"2,578.08","compareToPreviousClosePrice":"-8.94","compareToPreviousPrice":{"code":"5","text":"하락","name":"FALLING"},"fluctuationsRatio":"-0.35","openPrice":"2,586.89","highPrice":"2,592.29","lowPrice":"2,572.60"},{"localTradedAt":"2024-01-04","closePrice":"2,587.02","compareToPreviousClosePrice":"-20.29","compareToPreviousPrice":{"code":"5","text":"하락","name":"FALLING"},"fluctuationsRatio":"-0.78","openPrice":"2,592.44","highPrice":"2,602.64","lowPrice":"2,580.09"},{"localTradedAt":"2024-01-03","closePrice":"2,607.31","compareToPreviousClosePrice":"-62.50","compareToPreviousPrice":{"code":"5","text":"하락","name":"FALLING"},"fluctuationsRatio":"-2.34","openPrice":"2,643.54","highPrice":"2,643.72","lowPrice":"2,607.31"},{"localTradedAt":"2024-01-02","closePrice":"2,669.81","compareToPreviousClosePrice":"14.53","compareToPreviousPrice":{"code":"2","text":"상승","name":"RISING"},"fluctuationsRatio":"0.55","openPrice":"2,645.47","highPrice":"2,675.80","lowPrice":"2,641.88"},{"localTradedAt":"2023-12-28","closePrice":"2,655.28","compareToPreviousClosePrice":"41.78","compareToPreviousPrice":{"code":"2","text":"상승","name":"RISING"},"fluctuationsRatio":"1.60","openPrice":"2,616.27","highPrice":"2,655.28","lowPrice":"2,611.72"},{"localTradedAt":"2023-12-27","closePrice":"2,613.50","compareToPreviousClosePrice":"10.91","compareToPreviousPrice":{"code":"2","text":"상승","name":"RISING"},"fluctuationsRatio":"0.42","openPrice":"2,599.35","highPrice":"2,613.50","lowPrice":"2,590.08"},{"localTradedAt":"2023-12-26","closePrice":"2,602.59","compareToPreviousClosePrice":"3.08","compareToPreviousPrice":{"code":"2","text":"상승","name":"RISING"},"fluctuationsRatio":"0.12","openPrice":"2,609.44","highPrice":"2,612.14","lowPrice":"2,594.65"},{"localTradedAt":"2023-12-22","closePrice":"2,599.51","compareToPreviousClosePrice":"-0.51","compareToPreviousPrice":{"code":"5","text":"하락","name":"FALLING"},"fluctuationsRatio":"-0.02","openPrice":"2,617.72","highPrice":"2,621.37","lowPrice":"2,599.51"}]'

In [3]:
type(res.content)

bytes

In [4]:
type(res.text)

str

In [7]:
datas = res.json()
datas
type(datas)
len(datas)

10

In [8]:
import pandas as pd
kospi_df = pd.DataFrame(datas)
kospi_df

,localTradedAt,closePrice,compareToPreviousClosePrice,compareToPreviousPrice,fluctuationsRatio,openPrice,highPrice,lowPrice
0,2024-01-10,"2,544.24",-17.00,"{'code': '5', 'text': '하락', 'name': 'FALLING'}",-0.66,"2,563.97","2,568.19","2,540.16"
1,2024-01-09,"2,561.24",-6.58,"{'code': '5', 'text': '하락', 'name': 'FALLING'}",-0.26,"2,598.31","2,599.37","2,556.00"
2,2024-01-08,"2,567.82",-10.26,"{'code': '5', 'text': '하락', 'name': 'FALLING'}",-0.40,"2,584.23","2,591.68","2,566.34"
3,2024-01-05,"2,578.08",-8.94,"{'code': '5', 'text': '하락', 'name': 'FALLING'}",-0.35,"2,586.89","2,592.29","2,572.60"
4,2024-01-04,"2,587.02",-20.29,"{'code': '5', 'text': '하락', 'name': 'FALLING'}",-0.78,"2,592.44","2,602.64","2,580.09"
5,2024-01-03,"2,607.31",-62.50,"{'code': '5', 'text': '하락', 'name': 'FALLING'}",-2.34,"2,643.54","2,643.72","2,607.31"
6,2024-01-02,"2,669.81",14.53,"{'code': '2', 'text': '상승', 'name': 'RISING'}",0.55,"2,645.47","2,675.80","2,641.88"
7,2023-12-28,"2,655.28",41.78,"{'code': '2', 'text': '상승', 'name': 'RISING'}",1.60,"2,616.27","2,655.28","2,611.72"
8,2023-12-27,"2,613.50",10.91,"{'code': '2', 'text': '상승', 'name': 'RISING'}",0.42,"2,599.35","2,613.50","2,590.08"
9,2023-12-26,"2,602.59",3.08,"{'code': '2', 'text': '상승', 'name': 'RISING'}",0.12,"2,609.44","2,612.14","2,594.65"

In [ ]:
kind = 'KOSPI'
page = 1

# a=10
# print(f"{a}"")

url =f"https://m.stock.naver.com/api/index/{kind}/price?pageSize=10&page={page}"
res = requests.get(url) #  서버에 요청 > 결과는 res 로 담기
datas = res.json() #받은객체로부터 json데이터를 리스트로 뽑아냄
kospi_df = pd.DataFrame(datas) # 리스트 > DataFrame 으로 변환 
kospi_df

In [9]:
url ="https://m.stock.naver.com/api/index/KOSDAQ/price?pageSize=10&page=1"
res = requests.get(url) #  서버에 요청 > 결과는 res 로 담기
datas = res.json() #받은객체로부터 json데이터를 리스트로 뽑아냄
kosdaq_df = pd.DataFrame(datas) # 리스트 > DataFrame 으로 변환 
kosdaq_df

,localTradedAt,closePrice,compareToPreviousClosePrice,compareToPreviousPrice,fluctuationsRatio,openPrice,highPrice,lowPrice
0,2024-01-10,873.84,-10.80,"{'code': '5', 'text': '하락', 'name': 'FALLING'}",-1.22,884.08,884.08,873.38
1,2024-01-09,884.64,5.30,"{'code': '2', 'text': '상승', 'name': 'RISING'}",0.60,886.10,890.06,881.97
2,2024-01-08,879.34,1.01,"{'code': '2', 'text': '상승', 'name': 'RISING'}",0.11,880.24,882.88,875.34
3,2024-01-05,878.33,12.08,"{'code': '2', 'text': '상승', 'name': 'RISING'}",1.39,866.81,878.98,864.86
4,2024-01-04,866.25,-5.32,"{'code': '5', 'text': '하락', 'name': 'FALLING'}",-0.61,865.35,872.79,860.45
5,2024-01-03,871.57,-7.36,"{'code': '5', 'text': '하락', 'name': 'FALLING'}",-0.84,872.21,872.44,865.12
6,2024-01-02,878.93,12.36,"{'code': '2', 'text': '상승', 'name': 'RISING'}",1.43,866.08,878.93,865.26
7,2023-12-28,866.57,6.78,"{'code': '2', 'text': '상승', 'name': 'RISING'}",0.79,860.42,866.57,856.53
8,2023-12-27,859.79,11.45,"{'code': '2', 'text': '상승', 'name': 'RISING'}",1.35,851.49,860.29,851.21
9,2023-12-26,848.34,-6.28,"{'code': '5', 'text': '하락', 'name': 'FALLING'}",-0.73,855.75,857.24,846.32

In [10]:
kind = 'KOSDAQ'  # <<  KOSPI
page = 1
url =f"https://m.stock.naver.com/api/index/{kind}/price?pageSize=60&page={page}"
res = requests.get(url) #  서버에 요청 > 결과는 res 로 담기
datas = res.json() #받은객체로부터 json데이터를 리스트로 뽑아냄
kosdaq_df = pd.DataFrame(datas) # 리스트 > DataFrame 으로 변환 
kosdaq_df

,localTradedAt,closePrice,compareToPreviousClosePrice,compareToPreviousPrice,fluctuationsRatio,openPrice,highPrice,lowPrice
0,2024-01-10,873.15,-11.49,"{'code': '5', 'text': '하락', 'name': 'FALLING'}",-1.30,884.08,884.08,873.13
1,2024-01-09,884.64,5.30,"{'code': '2', 'text': '상승', 'name': 'RISING'}",0.60,886.10,890.06,881.97
2,2024-01-08,879.34,1.01,"{'code': '2', 'text': '상승', 'name': 'RISING'}",0.11,880.24,882.88,875.34
3,2024-01-05,878.33,12.08,"{'code': '2', 'text': '상승', 'name': 'RISING'}",1.39,866.81,878.98,864.86
4,2024-01-04,866.25,-5.32,"{'code': '5', 'text': '하락', 'name': 'FALLING'}",-0.61,865.35,872.79,860.45
5,2024-01-03,871.57,-7.36,"{'code': '5', 'text': '하락', 'name': 'FALLING'}",-0.84,872.21,872.44,865.12
6,2024-01-02,878.93,12.36,"{'code': '2', 'text': '상승', 'name': 'RISING'}",1.43,866.08,878.93,865.26
7,2023-12-28,866.57,6.78,"{'code': '2', 'text': '상승', 'name': 'RISING'}",0.79,860.42,866.57,856.53
8,2023-12-27,859.79,11.45,"{'code': '2', 'text': '상승', 'name': 'RISING'}",1.35,851.49,860.29,851.21
9,2023-12-26,848.34,-6.28,"{'code': '5', 'text': '하락', 'name': 'FALLING'}",-0.73,855.75,857.24,846.32
10,2023-12-22,854.62,-4.82,"{'code': '5', 'text': '하락', 'name': 'FALLING'}",-0.56,863.35,864.79,853.49
11,2023-12-21,859.44,-3.54,"{'code': '5', 'text': '하락', 'name': 'FALLING'}",-0.41,855.76,867.33,851.82
12,2023-12-20,862.98,4.68,"{'code': '2', 'text': '상승', 'name': 'RISING'}",0.55,861.96,865.02,860.56
13,2023-12-19,858.30,7.34,"{'code': '2', 'text': '상승', 'name': 'RISING'}",0.86,850.36,858.65,849.33
14,2023-12-18,850.96,12.65,"{'code': '2', 'text': '상승', 'name': 'RISING'}",1.51,844.78,854.07,843.61
15,2023-12-15,838.31,-2.28,"{'code': '5', 'text': '하락', 'name': 'FALLING'}",-0.27,844.76,846.70,834.94
16,2023-12-14,840.59,11.28,"{'code': '2', 'text': '상승', 'name': 'RISING'}",1.36,841.75,845.54,834.66
17,2023-12-13,829.31,-10.22,"{'code': '5', 'text': '하락', 'name': 'FALLING'}",-1.22,837.55,838.25,828.72
18,2023-12-12,839.53,4.28,"{'code': '2', 'text': '상승', 'name': 'RISING'}",0.51,835.41,842.56,833.67
19,2023-12-11,835.25,4.88,"{'code': '2', 'text': '상승', 'name': 'RISING'}",0.59,831.83,839.15,831.64
20,2023-12-08,830.37,17.17,"{'code': '2', 'text': '상승', 'name': 'RISING'}",2.11,818.71,830.99,818.50
21,2023-12-07,813.20,-6.34,"{'code': '5', 'text': '하락', 'name': 'FALLING'}",-0.77,820.46,820.46,810.90
22,2023-12-06,819.54,6.16,"{'code': '2', 'text': '상승', 'name': 'RISING'}",0.76,816.66,822.39,814.00
23,2023-12-05,813.38,-15.14,"{'code': '5', 'text': '하락', 'name': 'FALLING'}",-1.83,823.86,828.25,810.52
24,2023-12-04,828.52,1.28,"{'code': '2', 'text': '상승', 'name': 'RISING'}",0.15,828.66,837.95,823.99
25,2023-12-01,827.24,-4.44,"{'code': '5', 'text': '하락', 'name': 'FALLING'}",-0.53,826.30,831.03,822.03
26,2023-11-30,831.68,9.24,"{'code': '2', 'text': '상승', 'name': 'RISING'}",1.12,819.23,831.68,819.23
27,2023-11-29,822.44,6.00,"{'code': '2', 'text': '상승', 'name': 'RISING'}",0.73,817.90,823.81,812.95
28,2023-11-28,816.44,6.19,"{'code': '2', 'text': '상승', 'name': 'RISING'}",0.76,811.76,816.62,811.06
29,2023-11-27,810.25,-4.75,"{'code': '5', 'text': '하락', 'name': 'FALLING'}",-0.58,816.55,816.60,809.26
30,2023-11-24,815.00,-0.98,"{'code': '5', 'text': '하락', 'name': 'FALLING'}",-0.12,817.02,818.74,814.22
31,2023-11-23,815.98,1.37,"{'code': '2', 'text': '상승', 'name': 'RISING'}",0.17,816.16,819.91,813.25
32,2023-11-22,814.61,-2.40,"{'code': '5', 'text': '하락', 'name': 'FALLING'}",-0.29,811.20,817.28,809.83
33,2023-11-21,817.01,3.93,"{'code': '2', 'text': '상승', 'name': 'RISING'}",0.48,816.34,819.14,811.24
34,2023-11-20,813.08,14.02,"{'code': '2', 'text': '상승', 'name': 'RISING'}",1.75,797.83,815.27,797.51
35,2023-11-17,799.06,-12.05,"{'code': '5', 'text': '하락', 'name': 'FALLING'}",-1.49,807.61,807.62,795.66
36,2023-11-16,811.11,1.75,"{'code': '2', 'text': '상승', 'name': 'RISING'}",0.22,809.12,815.82,804.74
37,2023-11-15,809.36,15.17,"{'code': '2', 'text': '상승', 'name': 'RISING'}",1.91,808.68,813.06,805.27
38,2023-11-14,794.19,19.77,"{'code': '2', 'text': '상승', 'name': 'RISING'}",2.55,779.47,794.91,779.47
39,2023-11-13,774.42,-14.89,"{'code': '5', 'text': '하락', 'name': 'FALLING'}",-1.89,796.41,798.15,774.33
40,2023-11-10,789.31,-13.56,"{'code': '5', 'text': '하락', 'name': 'FALLING'}",-1.69,792.86,794.73,785.45
41,2023-11-09,802.87,-8.15,"{'code': '5', 'text': '하락', 'name': 'FALLING'}",-1.00,813.89,814.92,797.44
42,2023-11-08,811.02,-13.35,"{'code': '5', 'text': '하락', 'name': 'FALLING'}",-1.62,821.98,831.45,810.15
43,2023-11-07,824.37,-15.08,"{'code': '5', 'text': '하락', 'name': 'FALLING'}",-1.80,842.16,847.37,805.81
44,2023-11-06,839.45,57.40,"{'code': '2', 'text': '상승', 'name': 'RISING'}",7.34,794.49,839.45,793.72
45,2023-11-03,782.05,9.21,"{'code': '2', 'text': '상승', 'name': 'RISING'}",1.19,779.28,782.53,768.38
46,2023-11-02,772.84,33.61,"{'code': '2', 'text': '상승', 'name': 'RISING'}",4.55,753.37,773.39,753.37
47,2023-11-01,739.23,3.13,"{'code': '2', 'text': '상승', 'name': 'RISING'}",0.43,742.98,749.65,737.52
48,2023-10-31,736.10,-21.02,"{'code': '5', 'text': '하락', 'name': 'FALLING'}",-2.78,758.65,759.24,734.20
49,2023-10-30,757.12,8.63,"{'code': '2', 'text': '상승', 'name': 'RISING'}",1.15,747.24,760.87,744.63
50,2023-10-27,748.49,4.64,"{'code': '2', 'text': '상승', 'name': 'RISING'}",0.62,749.87,760.51,738.92
51,2023-10-26,743.85,-26.99,"{'code': '5', 'text': '하락', 'name': 'FALLING'}",-3.50,751.64,756.43,740.51
52,2023-10-25,770.84,-14.02,"{'code': '5', 'text': '하락', 'name': 'FALLING'}",-1.79,788.01,788.01,770.84
53,2023-10-24,784.86,21.17,"{'code': '2', 'text': '상승', 'name': 'RISING'}",2.77,771.03,784.86,750.32
54,2023-10-23,763.69,-5.56,"{'code': '5', 'text': '하락', 'name': 'FALLING'}",-0.72,766.56,774.36,762.51
55,2023-10-20,769.25,-14.79,"{'code': '5', 'text': '하락', 'name': 'FALLING'}",-1.89,775.81,779.92,759.40
56,2023-10-19,784.04,-24.85,"{'code': '5', 'text': '하락', 'name': 'FALLING'}",-3.07,796.15,796.36,782.63
57,2023-10-18,808.89,-11.49,"{'code': '5', 'text': '하락', 'name': 'FALLING'}",-1.40,816.92,820.09,807.45
58,2023-10-17,820.38,9.84,"{'code': '2', 'text': '상승', 'name': 'RISING'}",1.21,817.47,825.33,817.29
59,2023-10-16,810.54,-12.24,"{'code': '5', 'text': '하락', 'name': 'FALLING'}",-1.49,812.57,813.19,800.62

In [20]:
lst=[1,2,3]
lst

[1, 2, 3]

In [21]:
dt = {'a':10}
dt

{'a': 10}

In [22]:
page=10

url = f"페이지는 : {page}"

print(url)

페이지는 : 10

In [14]:
def get_stack(kind, pageSize=10, page=1 ): # 시장선택, 10~60, 1
#     kind = 'KOSDAQ'  # <<  KOSPI
#     page = 1
    url =f"https://m.stock.naver.com/api/index/{kind}/price?pageSize={pageSize}&page={page}"
    res = requests.get(url) #  서버에 요청 > 결과는 res 로 담기
    datas = res.json() #받은객체로부터 json데이터를 리스트로 뽑아냄
#     kosdaq_df = pd.DataFrame(datas) # 리스트 > DataFrame 으로 변환 
#     kosdaq_df
    return pd.DataFrame(datas)

kosdaq_df = get_stack('KOSDAQ',60)    
kosdaq_df.tail(2) #끝에서 5개

,localTradedAt,closePrice,compareToPreviousClosePrice,compareToPreviousPrice,fluctuationsRatio,openPrice,highPrice,lowPrice
58,2023-10-17,820.38,9.84,"{'code': '2', 'text': '상승', 'name': 'RISING'}",1.21,817.47,825.33,817.29
59,2023-10-16,810.54,-12.24,"{'code': '5', 'text': '하락', 'name': 'FALLING'}",-1.49,812.57,813.19,800.62

In [15]:
kospi_df = get_stack('KOSPI',60)    
kospi_df.tail(2)

,localTradedAt,closePrice,compareToPreviousClosePrice,compareToPreviousPrice,fluctuationsRatio,openPrice,highPrice,lowPrice
58,2023-10-17,"2,460.17",23.93,"{'code': '2', 'text': '상승', 'name': 'RISING'}",0.98,"2,454.14","2,466.87","2,449.42"
59,2023-10-16,"2,436.24",-19.91,"{'code': '5', 'text': '하락', 'name': 'FALLING'}",-0.81,"2,442.43","2,453.77","2,422.52"

In [ ]:
def add(a,b):
    c = a+b
    print(c)
    return a+b

In [17]:
a=10
b=20
print(a+b)

30

In [18]:
def add(a,b):
    c = a+b
    print(c)
add(a,b)

30

In [19]:
def add(a,b):
    return a+b

print(add(a,b))

30

In [ ]:
# 10 1
# 10 2

for x in range(2):
    pass

In [23]:
kosdaq_df.tail(1)
kospi_df.tail(1)

,localTradedAt,closePrice,compareToPreviousClosePrice,compareToPreviousPrice,fluctuationsRatio,openPrice,highPrice,lowPrice
59,2023-10-16,"2,436.24",-19.91,"{'code': '5', 'text': '하락', 'name': 'FALLING'}",-0.81,"2,442.43","2,453.77","2,422.52"

In [33]:
page = 20
url=f"https://m.stock.naver.com/front-api/v1/market\
Index/prices?category=exchange&reutersCode=FX_USDKRW&page={page}"
url

'https://m.stock.naver.com/front-api/v1/marketIndex/prices?category=exchange&reutersCode=FX_USDKRW&page=20'

In [50]:
import requests as rq
res  = rq.get(url)
res.text
# type(res.text)
USDKRW = res.json()['result']  #키를 설정함으로  value가 들어간다.
len(USDKRW)
USDKRW
usd = pd.DataFrame(USDKRW)
usd.tail(1)

,localTradedAt,closePrice,fluctuations,fluctuationsRatio,fluctuationsType,cashBuyValue,cashSellValue,sendValue,receiveValue
9,2023-03-21,"1,307.50",-1.00,-0.08,"{'code': '5', 'text': '하락', 'name': 'FALLING'}","1,330.38","1,284.62","1,320.3","1,294.7"

In [56]:
del usd_df
usd_df

NameError: name 'usd_df' is not defined

In [59]:
import requests as rq
def get_exchange(reutersCode='FX_USDKRW', page=1): #FX_USDKRW
    url=f"https://m.stock.naver.com/front-api/v1/marketIndex/prices?category=exchange&reutersCode={reutersCode}&page={page}"
    res  = rq.get(url)
    USDKRW = res.json()['result']  #키를 설정함으로  value가 들어간다.
    return pd.DataFrame(USDKRW)


# usd_df = get_exchange('FX_USDKRW', 1)
# usd_df.head(1)

usd_df = pd.DataFrame() #비어있는 데이터 프레임 
for _ in range(1,7): #1,2,3,4,5,6
    temp_df = get_exchange('FX_USDKRW', f"{_}")
    usd_df = pd.concat([usd_df, temp_df], ignore_index=True)

usd_df.tail(3)
len(usd_df)

60